.details-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    background-color: #f9f9f9;
  
    &__image {
        max-width: 40%;
        justify-self: center;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
      padding-right: 20px;
    }
  
    &__title {
      font-size: 2rem;
      margin-bottom: 5px;
    }
  
    &__description {
      font-size: 1rem;
      line-height: 1.5;
      color: #555;
      margin-bottom: 10px;
    }
  
    &__button-container {
      display: flex;
      justify-content: flex-start;
    }

    &__button {
        background-color: #007bff;
        color: #fff;
        padding: 12px 24px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    
        &:hover {
          background-color: #0056b3;
        }
      }
  }  

  @media (max-width: 768px) {
    .details-page {
      grid-template-columns: 1fr;
      padding: 10px;
  
      &__image {
        max-width: 80%;
        margin: 0 auto 20px;
      }
  
      &__content {
        padding-right: 0;
        align-items: center;
        text-align: center;
      }
  
      &__title {
        font-size: 1.5rem;
      }
  
      &__description {
        font-size: 0.9rem;
      }
  
      &__button {
        width: 100%;
      }
    }
  }
  